/* PAGE BACKGROUND */
.auth-container {
  height: 100vh;
  background: linear-gradient(120deg, #1a1a1a, #300000);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 900px;
  height: 550px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  margin: auto;
}

/* FORMS */
.form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: all 0.4s ease;
}


/* INPUTS */
input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* BUTTON */
button {
  padding: 10px;
  border: none;
  background: red;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* ACTIVE PANEL */
.active {
  background-color: black;
  color: white;
}

/* INACTIVE PANEL */
.inactive {
  background-color: white;
  color: black;
}

/* LINKS */
.link {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}